@media (min-width:400px ){

body {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 8px;
    height: 70vh
}
main {
    background-image: url(/images/pattern-background-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
}

.card {
    margin-top: 20vh;
    margin-bottom: 20vh;
    width: 25%;
    min-width: 370px;
    max-height: 700px;
    background-color: hsl(225, 100%, 98%);
    border-radius: 20px;
    display: block;
    text-align: center;
    justify-content: center;
}

img.logo {
    width: 100%; 
    max-height: 25vh;
    border-radius: 20px 20px 0 0;
}

.plan-main, .payment {
    display: inline-flex;
    margin-top: 20px;
    text-align: center;
    width: 80%;
    border-radius: 10px;
}

.cancle {
    margin-top: 20px;
}

.plan-main {
    background-color: snow;
    justify-content: space-between;
}

.plan-main img{
    width: 60px;
    height: 60px;
    margin: 10px
}

p.plan1 {
    font-weight: bold;
}

div.change {
    margin: 35px 35px 35px 10px;
}

.payment {
    background-color: blue;
    color: white;
    font-weight: bold;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 80%;
}

.attribution {
    margin-bottom: 20px;
}

}

@media (max-width:400px ){
    body {
        font-family: 'Red Hat Display', sans-serif;
        font-size: 0.4rem;
    }

    main {
        background-image: url(/images/pattern-background-mobile.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        justify-content: center;
        height: 80vh;
        display: flex;
        flex-wrap: wrap;
    }

    img.logo {
        width: 100%; 
        max-height: 25vh;
        border-radius: 20px 20px 0 0;
    }
    
    .card {
        margin-top: 5vh;
        margin-bottom: 5vh;
        width: 80%;
        background-color: hsl(225, 100%, 94%);
        border-radius: 20px;
        display: block;
        justify-content: center;
        text-align: center;
    }

    .plan-main, .payment {
        width: 90%;
        display: inline-flex;
        border-radius: 10px;
    }

    .plan-main img{
        max-width: 50px; 
        max-height: 50px;
        margin: 30px 3px 30px 5px 
    }
    .plan-main {
        background-color: snow;
        display: inline-flex;
        justify-content: space-between;
    }
    
    .plan-main, .payment, .cancle{
        margin-top: 20px;
    }

    div.change {
        margin: 35px 15px 35px 8px;
    }
    .payment {
        background-color: blue;
        color: white;
        font-weight: bold;
        justify-content: center;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    div.plan-select1{
        margin: 25px 0px 25px 0px;
    }
    
}